/* CSS declarations go here */
* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "cresta", sans-serif;
  color: #fff;
  background-color: #2f2f2f;
}
h1, h2, h3, header p {
  font-family: "gastromond", sans-serif;
}
p {
  line-height: 1.4;
}
a {
  color: #fff;
}
.title h3 {
  display: inline-block;
  position: relative;
}
.body__header--title h3::before {
  content: ' ';
  z-index: -1;
  width: 1.25rem;
  transform: rotate(-45deg);
  display: block;
  position: absolute;
  top: -52px;
  left: 50%;
  height: 120%;
  background: #a58166;
}
.body__img {
  position: relative;
}
#circle {
  position: absolute;
  top: calc(100vh - 890px);
  left: calc(100vw - 700px);
  width: 46rem;
  height: 46rem;
  background-image: linear-gradient(#a58166, #0b0907);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 100;
  clip-path: inset(0px 0px 255px -40px);
}
.body__img img {
  position: absolute;
  left: calc(100vw - 800px);
  top: calc(100vh - 932px);
  z-index: 101;
}
.container {
  height: 100vh;
  overflow: hidden;
}
header {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
nav a {
  margin-left: 2.5rem;
}
header nav a {
  margin-left: 1em;
  transition: border 0.3s ease-in;
  border-bottom: solid 3px rgba(47, 47, 47, 1.00);
  padding-bottom: 4px;
}
header nav a:hover {
  border-color: #fff;
}
header nav a.selected {
  border-color: #a58166;
}
.body__content p {
  padding-left: 5rem;
  z-index: 102;
  font-weight: lighter;
}
.body__content p em {
  position: relative;
}
em::before {
  content: "";
  position: absolute;
  background: #a58166;
  width: 100%;
  height: 47%;
  z-index: -1;
  bottom: 0px;
  transition: 0.2s;
}
.body__header--title {
  position: relative;
  padding-top: 48px;
}
.body__header--title h2 {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.0);
  -webkit-text-stroke: 2px white;
  z-index: 101;
  position: absolute;
  transform: rotate(90deg);
  top: 164px;
  left: calc(100vw - 345px);
}
.body__header--title h3 {
  padding-left: 5rem;
  line-height: 1;
}
.title--fadeIn span {
  animation: fadeEffect 10s linear infinite 0s;
  -ms-animation: fadeEffect 10s linear infinite 0s;
  -webkit-animation: fadeEffect 10s linear infinite 0s;
  opacity: 0;
  position: absolute;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 2px white;
}
.title--fadeIn span:nth-child(1) {
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.title--fadeIn span:nth-child(2) {
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
.title--fadeIn span:nth-child(3) {
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}
.title--fadeIn span:nth-child(4) {
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s;
}
/*FadeIn Animation*/
@-moz-keyframes fadeEffect {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -moz-transform: translateY(0px);
  }
  10% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  30% {
    opacity: 0;
    -moz-transform: translateY(0px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeEffect {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -webkit-transform: translateY(0px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  30% {
    opacity: 0;
    -webkit-transform: translateY(0px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes fadeEffect {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -ms-transform: translateY(0px);
  }
  10% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  25% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  30% {
    opacity: 0;
    -ms-transform: translateY(0px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.body__header--title h3 span:last-child {
  padding-left: 2.5rem;
}
.body__img {
  height: 100%;
}
footer {
  position: absolute;
  bottom: 0px;
  min-height: calc(17vh - 140px);
  padding-left: 2.5rem;
  justify-content: space-evenly;
  z-index: 104;
}
.nav__secondary {
  height: 100%;
  width: 55%;
  background-color: aquamarine;
}
footer .social {
  z-index: 101;
}
.social img {
  width: 2.25rem;
}
@media (max-width: 977px) {
  #circle {
    width: 30rem;
    height: 30rem;
    top: calc(100vh - 96%);
    left: calc(100vw - 50%);
  }
  .body__img img {
    width: 60%;
    left: calc(100vw - 60%);
    top: calc(100vh - 108%);
  }
}
@media (max-width: 907px) {
  .body__img img {
    display: none;
  }
  footer {
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  .body__header--title h2 {
    font-size: 4.5rem;
    top: 133px;
    left: calc(100vw - 268px);
  }
}
.body__header--title h3 {
  font-size: 4rem;
}
.body__content {
  padding-top: 86px;
  width: 71%;
}
@media (max-width: 570px) {
  header p {
    display: none;
  }
  h2 br {
    display: none;
  }
  h2 span {
    padding-left: 0.25em;
  }
  nav a {
    margin-left: 1rem;
  }
  div.container header {
    justify-content: space-around;
  }
  .body__header--title {
    padding-bottom: 16px;
  }
  .body__header--title h2 {
    text-align: center;
    font-size: 3.25rem;
    position: initial;
    -webkit-text-stroke: 1px;
    transform: initial;
    -webkit-text-fill-color: #fff;
    letter-spacing: 0;
  }
  .body__header--title h3 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 40px;
    padding-left: 0px;
  }
  .body__header--title h3::before {
    width: 0.75rem;
    top: 0px;
    height: 143px;
  }
  .title h3 {
    display: block;
  }
  .title--fadeIn span {
    left: 37%;
    -webkit-text-stroke: 1px;
    padding-left: 0;
  }
  section.body__content {
    padding: 2.5rem 1.5rem;
    width: 100%;
  }
  .body__content p {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  #circle {
    top: calc(100vh - 87%);
    left: calc(100vw - 108%);
  }
  footer {
    padding-left: 0;
  }
}
@media (max-width: 320px) {
  div.container header {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0;
  }
  .body__header--title {
    padding-top: 2rem;
  }
  .body__header--title h2 {
    letter-spacing: 0;
  }
  .body__header--title h3 span:last-child {
    padding-left: 3rem;
  }
}
